.player {
  color: #9bbc0f;
  padding: 16px;
  border: 1px solid #aaaaaa;
  position: relative;
}

.description {
  font-style: normal;
}

.health {
  font-weight: 500;
  color: #9bbc0f;
}

.low-health {
  color: 	#E10600;
}

.inventory {
  margin-top: 2px;
}

.collapse {
  position: absolute;
  top: 5vmin;
  right: 10px;
  background: #9bbc0f;
  border: none;
}

.collapse svg {
  fill: #0f380f;
}

.showing {
  transform: rotate(180deg);
}
