.room {
  color: #9bbc0f;
}

.description {
  @apply mt-1 mb-1 p-2 block text-left;
  color: #9bbc0f;
}

.exits {
  @apply grid gap-2 pr-2 pl-2 pt-5;
}

.exit-title {
  @apply font-normal;
}

.divider {
  @apply mt-2 mb-2;
  border-top: 0.5px solid #9bbc0f;
}

.description-button {
  @apply font-semibold text-3xl tracking-wider;
}

.close {
  @apply flex justify-end pt-2;
}

.close-button {
  @apply p-1 mr-1;
  background-color: #9bbc0f;
}

.close-icon {
  @apply h-4 max-w-none;
}
