.room {
  padding: 16px;
  border: 1px solid #aaaaaa;
  color: #9bbc0f;
}

.description {
  margin-bottom: 10px;
  display: block;
  text-align: left;
  padding: 16px;
  border: 1px solid gray;
  color: #9bbc0f;
}

.exits {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.exit-title {
  font-style: normal;
}
