.fixture-position {
  @apply p-2 flex flex-col items-baseline;
  color: #9bbc0f;
  border-right: 0.5px solid #9bbc0fbf;
  border-bottom: 0.5px solid #9bbc0fbf;
}

.label {
  @apply italic;
}

.basic-actions {
  @apply mt-2 flex gap-1.5;
}

.items {
  @apply flex flex-col gap-0.5 items-baseline mt-2;
}

.item-name {
  @apply not-italic;
}

.item {
  @apply p-2 flex items-start gap-1.5;
}

.loot {
  @apply flex items-center gap-1.5 pt-0.5;
}

.equipped-text {
  @apply underline mb-1;
}

.hidden-search {
  @apply flex justify-between items-center gap-1;
}

.card {
  color: #9bbc0f;
  border: 0.5px solid #0f380f;
}

.card:hover {
  border: 0.5px solid #9bbc0fbf;
}
