.screen {
  @apply grid h-screen;
  grid-template-columns: 3fr 1fr;
  background-color: #0f380f;
}

.game {
  @apply overflow-y-auto mr-1;
}

.side {
  @apply overflow-y-auto overflow-x-hidden;
  border-left: 1px solid slategray;
}

.logo {
  @apply h-12 pointer-events-none;
}

.header {
  @apply flex items-center justify-evenly p-1;
  font-size: calc(10px + 2vmin);
  color: #9bbc0f
}

.events-list {
  @apply p-1.5;
  border: 0.5px solid #aaaaaa;
}

.events-title {
  @apply mb-1.5 block;
  color: #9bbc0f;
}

.events-container {
  @apply p-1.5;
}
