.room {
  color: #9bbc0f;
}

.description {
  @apply mt-1 mb-1 p-2 block text-left;
  color: #9bbc0f;
}

.exits {
  @apply grid gap-2 pr-2 pl-2;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.exit-title {
  @apply font-normal;
}

.divider {
  @apply mt-2 mb-2;
  border-top: 0.5px solid #9bbc0f;
}
