@font-face {
  font-family: "monogram-extended";
  font-style: normal;
  src: local("monogram-extended"),
    url("./monogram-extended.ttf") format("truetype");
}

body {
  font-family: -apple-system, "monogram-extended";
  font-size: calc(10px + 1.75vmin);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f380f;
  color: #0f380f;
}

h2 {
  font-weight: 300;
  text-align: center;
}

p {
  position: relative;
}

#success-wrap {
  background-color: #9bbc0f;
  width: 35%;
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 20px 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}
