.inventory {
  @apply flex flex-col mt-1;
}

.equipment {
  @apply grid grid-cols-2 gap-1.5 pt-1;
}

.item-group {
  @apply flex flex-col gap-1;
}

.item-name {
  @apply not-italic;
}

.item {
  @apply p-2 flex flex-col items-start gap-0.5;
}

.equip {
  @apply flex pt-0.5 gap-1 items-center;
}

.actions {
  @apply flex gap-1;
}

.attack {
  color: #9bbc0f;
}

.effects {
}

.defense {
  color: #9bbc0f;
}

.card {
  color: #9bbc0f;
  border: 0.5px solid #0f380f;
}

.card:hover {
  border: 0.5px solid #9bbc0fbf;
}
