.inventory {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.equipment {
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
}

.item-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item-name {
  font-style: normal;
}

.item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.equip {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-top: 2px;
  width: 100%;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: 2px;
}

.attack {
  color: #9bbc0f;
}

.defense {
  color: #9bbc0f;
}
