.actionButton {
  background-color: #9bbc0f;
  color: #0f380f;
  padding: 5px;
}

.exit-button {
  border: 1px solid #aaaaaa;
  background-color: #9bbc0f;
}

.cast-spell {
  background-color: #9bbc0f;
  color: #0f380f;
  padding: 5px;
}

.move-button {
  background-color: #9bbc0f;
  color: #0f380f;
  padding: 5px;
  min-width: 60px;
}

.inspect-button {
  background-color: #9bbc0f;
  color: #0f380f;
  padding: 5px;
  min-width: 60px;
}

.attack-button {
  background-color: #9bbc0f;
  color: #0f380f;
  padding: 5px;
  min-width: 60px;
}

.attack-button:hover {
  background-color: darkred;
  color: #9bbc0f;
}

.loot-button {
  background-color: #9bbc0f;
  color: #0f380f;
  padding: 5px;
  min-width: 60px;
}

.spells-on-npc {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  padding-top: 6px;
  gap: 6px;
}

.cast-button {
  background-color: #9bbc0f;
  color: #0f380f;
  padding: 5px;
  min-width: 60px;
}
