.exit-button {
  @apply p-1;
  background-color: #9bbc0f;
}

.action-button {
  @apply w-fit text-center pl-1 pr-1;
  background-color: #9bbc0f;
  color: #0f380f;
}

.inspect-button {
  @apply w-fit text-center pl-1 pr-1;
  background-color: #9bbc0f;
  color: #0f380f;
}

.attack-button:hover {
  background-color: darkred;
  color: #9bbc0f;
}

.spells-on-npc {
  @apply flex gap-1.5;
}

.exit-door {
  @apply h-8 max-w-none;
}
