.fixtures {
  margin-top: 10px;
}

.fixture-text {
  padding: 16px;
  border: 1px solid gray;
  color: floralwhite;
}

.fixture-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 2px;
}
