.fixtures {
  margin-top: 10px;
}

.fixture-text {
  padding: 16px;
  border: 1px solid #aaaaaa;
  color: #9bbc0f;
}

.fixture-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-top: 6px;
  gap: 6px;
}
