.player {
  @apply p-2 relative;
  color: #9bbc0f;
}

.description {
  @apply not-italic;
}

.health {
  @apply font-medium flex items-center gap-1;
  color: #d70505;
}

.gold {
  @apply flex items-center gap-1;
  color: #ffdf00;
}

.health-and-gold {
  @apply flex items-center gap-2;
}

.basics {
  @apply flex justify-between;
}

.inventory {
  @apply mt-0.5;
}

.collapse {
  @apply p-0.5;
  background: #9bbc0f;
}

.collapse-icon {
  @apply h-6;
}

.collapse svg {
  fill: #0f380f;
}

.showing {
  transform: rotate(180deg);
}
