.player {
  color: floralwhite;
  padding: 16px;
  border: 1px solid gray;
  position: relative;
}

.description {
  font-style: normal;
}

.health {
  font-weight: 600;
  color: green;
}

.low-health {
  color: red;
}

.inventory {
  margin-top: 2px;
}

.collapse {
  position: absolute;
  top: 5vmin;
  right: 10px;
}

.showing {
  transform: rotate(180deg);
}
