.App {
  text-align: center;
  min-height: 100vh;
  height: 100vh;
  background-color: #282c34;
  width: 100vw;
}

button {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.name-input {
  max-height: 40px;
  padding: 2px;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
  padding: 5px;
}

.game-ids {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.App-link {
  color: #61dafb;
}

.game-id-select {
  padding: 2px;
}

.room {
  margin-top: 8px;
}

.basics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 12px;
  align-items: center;
}

.generate-button {
  background-color: lightsteelblue;
  padding: 5px;
  border-radius: 6px;
}

.events-list {
  overflow-y: auto;
  height: 16vmin;
  padding: 5px;
  border: 0.5px solid black;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(360deg) scale(0.3);
  }

  100% {
    transform: rotate(0) scale(1);
  }
}

button {
  font-size: calc(10px + 0.5vmin);
}

.room-and-player {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.body {
  background-color: #282c34;
}

.title {
  text-decoration: underline;
  margin-bottom: 2px;
}

.action-card {
  color: lightgray;
  border-radius: 6px;
  border: 0.5px solid lightgray;
}

.username {
  padding: 5px;
  background-color: floralwhite;
}

.events-title {
  color: floralwhite;
  margin-bottom: 6px;
  display: block;
}
