.App {
  text-align: center;
  min-height: 100vh;
  height: 100vh;
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: start;
  padding-top: 2px;
}

.game-ids {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.App-link {
  color: #61dafb;
}

.game-id-select {
  max-width: 35%;
}

.room {
  margin-top: 8px;
}

.room-id {
  background-color: lightgrey;
  padding: 8px;
  border-radius: 10px;
  display: block;
}

.actions-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: lightgoldenrodyellow;
  margin-top: 25px;
  flex-wrap: wrap;
  max-height: 30vmin;
  overflow-y: auto;
}

.basics {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 12px;
}

.generate-button {
  background-color: lightsteelblue;
  padding: 10px;
  border-radius: 12px;
  height: 50px;
}

.events-list {
  overflow-y: auto;
  height: 20vmin;
  background-color: whitesmoke;
  padding: 12px;
  margin-top: 12px;
  border: 0.5px solid black;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(360deg) scale(0.3);
  }

  100% {
    transform: rotate(0) scale(1);
  }
}

button {
  font-size: calc(10px + 0.5vmin);
}
