.App {
  @apply text-center min-h-screen h-screen w-screen;
  background-color: #0f380f;
}

button {
  @apply cursor-pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.name-input {
  @apply max-h-10 p-0.5;
}

.App-logo {
  @apply h-1/6;
}

.App-header {
  @apply flex items-center justify-center p-1.5 text-white;
  font-size: calc(10px + 3vmin);
  color: #9bbc0f
}

.game-ids {
  @apply flex flex-col items-center gap-2;
}

.game-id-select {
  @apply p-0.5 max-h-8;
  background-color: #9bbc0f;
  color: #0f380f;
  max-width: 50%;
}

.game-id-section {
  @apply ml-5;
}

.room {
  margin-top: 8px;
}

.generate-button {
  @apply pl-1 pr-1 w-fit text-center;
  background-color: #9bbc0f;
  color: #0f380f;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(360deg) scale(0.3);
  }

  100% {
    transform: rotate(0) scale(1);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.body {
  background-color: #0f380f;
}

.title {
  @apply mb-0.5 underline;
  color: #9bbc0f;
}

.action-card {
  color: #9bbc0f;
  border: 0.5px solid #aaaaaa;
}

.username {
  @apply p-1;
  background-color: #9bbc0f;
}

.id-and-generate {
  @apply flex flex-wrap pb-2 pl-2 pr-2 gap-2 items-center;
}
