@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "monogram-extended";
  font-style: normal;
  src: local("monogram-extended"),
    url("./fonts/monogram-extended.ttf") format("truetype");
}

body {
  @apply m-0 p-0;
  font-family: -apple-system, "monogram-extended";
  font-size: calc(10px + 1.75vmin);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  line-height: normal;
}
