.input {
  max-height: 40px;
  padding: 2px;
  background-color: #9bbc0f;
  color: #0f380f;
}

.ready {
  background-color: #9bbc0f;
  padding: 5px;
  margin-left: 10px;
  color: #0f380f
}

.ready:disabled {
  background-color: #aaaaaa;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
