.header {
  @apply flex items-center justify-between p-1.5 text-white;
  height: 5vh;
  font-size: calc(10px + 3vmin);
  border-bottom: 0.5px solid;
}

.title {
  @apply flex items-center justify-center;
}
