.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s ease-in-out;
  }
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: start;
  padding-top: 2em;
}

.game-ids {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.App-link {
  color: #61dafb;
}

.game-id-select {
  max-width: 35%;
}

.room {
  margin-top: 20px;
}

.room-id {
  background-color: lightgrey;
  padding: 12px;
  border-radius: 10px;
}

.actions-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: lightgoldenrodyellow;
  margin-top: 25px;
  flex-wrap: wrap;
}

.basics {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.generate-button {
  background-color: lightcoral;
  padding: 10px;
  border-radius: 12px;
  height: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 0.5vmin);
}
