.actionButton {
  background-color: lightsteelblue;
  color: black;
  padding: 5px;
}

.exit-button {
  border: 1px solid black;
  background-color: floralwhite;
}

.cast-spell {
  background-color: lightsteelblue;
  color: black;
  padding: 5px;
}

.move-button {
  background-color: lightsteelblue;
  color: black;
  padding: 5px;
  min-width: 60px;
}

.inspect-button {
  background-color: lightsteelblue;
  color: black;
  padding: 5px;
  min-width: 60px;
}

.attack-button {
  background-color: lightsteelblue;
  color: black;
  padding: 5px;
  min-width: 60px;
}

.attack-button:hover {
  background-color: darkred;
  color: floralwhite;
}

.loot-button {
  background-color: lightsteelblue;
  color: black;
  padding: 5px;
  min-width: 60px;
}
