.items {
  @apply flex flex-col gap-0.5 items-baseline;
  color: #9bbc0f;
}

.item-name {
  @apply not-italic;
}

.item {
  @apply p-2 items-center gap-1.5;
  color: #9bbc0f;
}

.loot {
  @apply flex items-center gap-1.5 pt-0.5;
}

.equipped-text {
  @apply underline mb-1;
}

.card {
  @apply flex justify-between;
  color: #9bbc0f;
  border: 0.5px solid #0f380f;
}

.card:hover {
  border: 0.5px solid #9bbc0fbf;
}
